.auth-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.auth-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to top left,
            rgba(34, 197, 94, 0.55),
            #000000);
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all ease-in-out 0.3s;
}